/* import fonts from google fonts */
@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Montserrat|Sofia&display=swap");

:root {
  --light-gray: #2b3032a1;
  --primary-color: #A8996E;
  --border: #2b303218;
  --text-color: #ff686b;
  --Montserrat: "Montserrat", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color);
}

.font-Montserrat {
  font-family: var(--Montserrat);
}

.lightblue {
  color: lightblue;
}

/* header */

header {
  background-color: var(--primary-color);
  font-family: var(--Montserrat);
}

header .site-title {
  font-family: var(--gugi);
  color: white;
}

.container .dropdown-toggle,
.container .dropdown-item {
  font-size: 0.7em;
}

.header-links a {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}

/*  Navigation Menu **/

.navbar-nav {
  padding: 0.8em 0em;
}

.navbar-nav .nav-link {
  font-size: 0.9em;
  color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}

.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}




.navbar-nav .nav-item .nav-link:hover{
  color: var(--primary-color)!important;
}

.navbar-nav .basket-icon {
  margin-right: 6.5rem !important;
}

.navbar-nav .form-inline {
  margin-right: 6.5rem !important;
}

.navbar-nav .basket-icon:hover,
.navbar-nav .search-icon:hover
{
  color:var(--primary-color);
}


/* Slider one */

.site-slider {
  position: relative;
}

.slide{
  position: relative;
}

.position-top {
  position: absolute;
  top: 45%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: white;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}

.right-0 {
  right: 0;
}

/* Slick Dots */

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 50%;
}

.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: white;
  text-indent: -99999px;
  border-radius: 100%;
}

.slick-dots li.slick-active button {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

/* Second Slider */

.site-slider-two {
  position: relative;
  height: 30%;
}

.site-slider-two .product {
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.site-slider-two .product img {
  width: 90%;
  margin: auto;
}

.site-btntwo.btn-spantwo {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--light-gray);
}
.site-btntwo.btn-spantwo:hover{
  background-color: var(--primary-color);
}


.site-btn.btn-span {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--light-gray);
}

.slider-two .slick-track .product:hover span {
  background-color: var(--primary-color);
}

/* HR */
.hr {
  border: 1px dotted var(--border);
}

/* Features Sections or Top Product */
.container .features {
  padding: 3rem 0;
}

.container .features h1 {
  font-family: var(--gugi);
}

.container .features p {
  padding: 0.5% 25%;
  font-size: 0.9em;
}



/* Third Slider */

.site-slider-three {
  position: relative;
  margin-bottom: 5rem;
}

.site-slider-three .product {
  height: 100%;
  padding: 0em;

}

.site-slider-three .product .product-top:hover{
   border: 1px solid;
}

.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}

.overlay-right .fa {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}


.site-slider-three .cart-details {
  margin-top: 0.5rem;
  padding: 0 2rem;
}

.rating i {
  font-size: 0.7rem;
  color: lightblue;
}

.site-slider-three .pro-price span {
  color: var(--text-color);
}

.product .cart .site-btn:hover {
  background: var(--primary-color);
  color: white;
}

/* New, dailydiscover and TopTreanding */
.newseller {
  margin-top: 8rem;
}


.site-info {
  margin-top: 10rem;
}

/* Footer */

footer h4 {
  padding: 4rem 1rem 0;
  font-family: var(--Montserrat);
}

footer .social i {
  padding: 3% 1%;
}

footer .col-md-2 small {
  color: var(--light-gray);
  padding: 0.7em 0;
}

footer .follow-us div {
  width: 33%;
  height: 8rem;
  background: lightblue;
}

/* BreadCrumbs */

.breadcrumbs{
  padding: 30px;
  font-family: var(--Montserrat);
}

.breadcrumbs__item{
  display: inline-block;

}

.breadcrumbs__item:not(:last-of-type)::after{
  content: '>';
  margin: 0 5px;
  color: #cccccc;
}

.breadcrumbs__link{
  color: gray;
  text-decoration: none;
}

.breadcrumbs__link:hover{
  color: var(--primary-color);
  text-decoration: none;
}

.breadcrumbs__link--active{
  color: var(--primary-color);
  font-weight: 500;
}

.d-flex{
  margin: 40px;
}